@import "tailwindcss";

/* Tam ekran yüksekliği */
html,
body,
:root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Leaflet düzeltmeleri */
.leaflet-container {
  z-index: 0;
}

/* Leaflet kontrolleri z-index sıfırlama */
.leaflet-pane,
.leaflet-top,
.leaflet-bottom,
.leaflet-control {
  z-index: 0 !important;
}

/* Tarih seçici (Date Range Picker) stilleri */
.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 16px !important;
}

.rdrDaySelected,
.rdrDayStartOfRange,
.rdrDayEndOfRange {
  background-color: rgb(244, 63, 94) !important; /* Tailwind 'rose-500' */
  color: white !important;
}

.rdrInRange {
  background-color: rgb(244, 63, 94) !important;
  color: black !important;
}